
<tbody style="width: 496px; display: block; margin: 0 auto; padding-top: 16px;" align="center">
    <tr style="display: block; padding-bottom: 16px;">
        <td style="font-size: 12px; line-height: 16px; color: #464646;">
            © 2021. All Rights Reserved.
        </td>
    </tr>
    <tr style="display: block; padding-bottom: 16px;">
    </tr>
    <tr>
        <td style="font-size: 12px; line-height: 16px; color: #464646;">
            You received this message because you are a client or subscriber.
        </td>
    </tr>
</tbody>
