from .common import *

DEBUG = True

SECRET_KEY = os.environ.get('DJANGO_SECRET_KEY', 'DJANGO_SECRET_KEY')

BASE_URL = os.environ.get('BASE_URL', 'http://localhost:4096')
BASE_CLIENT_URL = os.environ.get('BASE_CLIENT_URL', 'http://localhost:8030')

# SECURITY WARNING: update this when you have the production host
ALLOWED_HOSTS = ['0.0.0.0', 'localhost', '127.0.0.1']

REDIS = {
    'host': 'localhost',
    'port': '6379',
    'db': '1',
}
# Channels
ASGI_APPLICATION = "main.websocket_routing.application"
CHANNEL_LAYERS = {
    'default': {
        'BACKEND': 'channels_redis.core.RedisChannelLayer',
        'CONFIG': {
            "hosts": [(REDIS['host'], REDIS['port'])],
        },
    },
}

# CELERY_RESULT_BACKEND = 'django-db'
CELERY_BROKER_URL = 'amqp://main:WHQ56DASU4H3xUL4AS4wsGMsWQp4@localhost:5672'
CELERY_BROKER_TRANSPORT = 'amqp'


TESTS_VCR_FOR_REQUESTS_ENABLED = os.environ.get(
    'TESTS_VCR_FOR_REQUESTS_ENABLED', False)

PASSWORD_HASHERS = [
    'django.contrib.auth.hashers.MD5PasswordHasher',
]

# SECURE_AUTH_SALT should not contain $
# SECURE_AUTH_SALT = '1_n=qJO51@GW%kqewWphc-`]*3@6336H7sxhogE5tSO|aoM|3Q(zD3.+%E}~p<L'
