interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search/%D0%9A%D0%B0%D0%BB%D0%B8%D0%BD%D0%B8%D0%BD%D0%B3%D1%80%D0%B0%D0%B4+%D1%83%D0%BB+%D0%93%D0%B5%D0%BD%D0%B4%D0%B5%D0%BB%D1%8F+5?format=json&addressdetails=1&limit=1&polygon_svg=1
  response:
    body:
      string: "[{\"place_id\":351845824,\"licence\":\"Data \xA9 OpenStreetMap contributors,
        ODbL 1.0. https://osm.org/copyright\",\"osm_type\":\"way\",\"osm_id\":88259311,\"boundingbox\":[\"54.7216561\",\"54.7219543\",\"20.4958078\",\"20.496544\"],\"lat\":\"54.72181725\",\"lon\":\"20.496182925152283\",\"display_name\":\"5,
        \u0443\u043B\u0438\u0446\u0430 \u0413\u0435\u043D\u0434\u0435\u043B\u044F,
        \u0440\u0430\u0439\u043E\u043D \u0425\u0443\u0444\u0435\u043D, \u0426\u0435\u043D\u0442\u0440\u0430\u043B\u044C\u043D\u044B\u0439
        \u0440\u0430\u0439\u043E\u043D, \u041A\u0430\u043B\u0438\u043D\u0438\u043D\u0433\u0440\u0430\u0434,
        \u0433\u043E\u0440\u043E\u0434\u0441\u043A\u043E\u0439 \u043E\u043A\u0440\u0443\u0433
        \u041A\u0430\u043B\u0438\u043D\u0438\u043D\u0433\u0440\u0430\u0434, \u041A\u0430\u043B\u0438\u043D\u0438\u043D\u0433\u0440\u0430\u0434\u0441\u043A\u0430\u044F
        \u043E\u0431\u043B\u0430\u0441\u0442\u044C, \u0421\u0435\u0432\u0435\u0440\u043E-\u0417\u0430\u043F\u0430\u0434\u043D\u044B\u0439
        \u0444\u0435\u0434\u0435\u0440\u0430\u043B\u044C\u043D\u044B\u0439 \u043E\u043A\u0440\u0443\u0433,
        236022, \u0420\u043E\u0441\u0441\u0438\u044F\",\"class\":\"building\",\"type\":\"yes\",\"importance\":0.4200099999999999,\"address\":{\"house_number\":\"5\",\"road\":\"\u0443\u043B\u0438\u0446\u0430
        \u0413\u0435\u043D\u0434\u0435\u043B\u044F\",\"suburb\":\"\u0440\u0430\u0439\u043E\u043D
        \u0425\u0443\u0444\u0435\u043D\",\"city_district\":\"\u0426\u0435\u043D\u0442\u0440\u0430\u043B\u044C\u043D\u044B\u0439
        \u0440\u0430\u0439\u043E\u043D\",\"city\":\"\u041A\u0430\u043B\u0438\u043D\u0438\u043D\u0433\u0440\u0430\u0434\",\"county\":\"\u0433\u043E\u0440\u043E\u0434\u0441\u043A\u043E\u0439
        \u043E\u043A\u0440\u0443\u0433 \u041A\u0430\u043B\u0438\u043D\u0438\u043D\u0433\u0440\u0430\u0434\",\"state\":\"\u041A\u0430\u043B\u0438\u043D\u0438\u043D\u0433\u0440\u0430\u0434\u0441\u043A\u0430\u044F
        \u043E\u0431\u043B\u0430\u0441\u0442\u044C\",\"ISO3166-2-lvl4\":\"RU-KGD\",\"region\":\"\u0421\u0435\u0432\u0435\u0440\u043E-\u0417\u0430\u043F\u0430\u0434\u043D\u044B\u0439
        \u0444\u0435\u0434\u0435\u0440\u0430\u043B\u044C\u043D\u044B\u0439 \u043E\u043A\u0440\u0443\u0433\",\"postcode\":\"236022\",\"country\":\"\u0420\u043E\u0441\u0441\u0438\u044F\",\"country_code\":\"ru\"},\"svg\":\"M
        20.4958078 -54.7218638 L 20.4960814 -54.7217653 20.4963831 -54.7216561 20.496492
        -54.721734 20.496544 -54.7217788 20.4963135 -54.7218557 20.4961167 -54.7219543
        Z\"}]"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search/%D0%A1%D0%B0%D0%BC%D0%B0%D1%80%D0%B0+%D1%83%D0%BB+%D0%9F%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%81%D0%BA%D0%B0%D1%8F+35?format=json&addressdetails=1&limit=1&polygon_svg=1
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
